In [2]:
import pandas as pd
import numpy as np

In [14]:
df=pd.read_csv("/home/shruti/Downloads/data_preprocessing.csv")

df.head()
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [15]:
df.dtypes
df.isnull().any(axis=1)

0    False
1    False
2    False
3    False
4     True
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [20]:
df.isnull().sum()

df["Age"].value_counts()
mean_value_age=df['Age'].mean()
df['Age']=df['Age'].fillna(mean_value_age)
df['Age']

0    44.000000
1    27.000000
2    30.000000
3    38.000000
4    40.000000
5    35.000000
6    38.777778
7    48.000000
8    50.000000
9    37.000000
Name: Age, dtype: float64

In [24]:
df['Salary'].value_counts()
mean_value_salary=df["Salary"].mean()
df['Salary']=df['Salary'].fillna(mean_value_salary)
df['Salary']

0    72000.000000
1    48000.000000
2    54000.000000
3    61000.000000
4    63777.777778
5    58000.000000
6    52000.000000
7    79000.000000
8    83000.000000
9    67000.000000
Name: Salary, dtype: float64

In [25]:
obj_df=df.select_dtypes(include=['object']).copy()
obj_df.head()

   Country Purchased
0   France        No
1    Spain       Yes
2  Germany        No
3    Spain        No
4  Germany       Yes

In [27]:
obj_df.dtypes

Country      object
Purchased    object
dtype: object

In [29]:
obj_df["Country"]=obj_df["Country"].astype('category')
obj_df.dtypes

Country      category
Purchased      object
dtype: object

In [39]:
obj_df["Country_cat"]=obj_df["Country"].cat.codes

AttributeError: Can only use .cat accessor with a 'category' dtype

In [40]:
pd.get_dummies(obj_df,columns=["Country"]).head()

  Purchased  Country_0  Country_1  Country_2
0        No          1          0          0
1       Yes          0          0          1
2        No          0          1          0
3        No          0          0          1
4       Yes          0          1          0

In [43]:
import category_encoders as ce

# Get a new clean dataframe
obj_df = df.select_dtypes(include=['object']).copy()

# Specify the columns to encode then fit and transform
encoder = ce.backward_difference.BackwardDifferenceEncoder(cols=["Country"])
encoder.fit(obj_df, verbose=1)

# Only display the first 8 columns for brevity
encoder.transform(obj_df)

   intercept  Country_0  Country_1 Purchased
0          1  -0.666667  -0.333333        No
1          1   0.333333  -0.333333       Yes
2          1   0.333333   0.666667        No
3          1   0.333333  -0.333333        No
4          1   0.333333   0.666667       Yes
5          1  -0.666667  -0.333333       Yes
6          1   0.333333  -0.333333        No
7          1  -0.666667  -0.333333       Yes
8          1   0.333333   0.666667        No
9          1  -0.666667  -0.333333       Yes